/*floatの回り込みを解除*/
.clearfix::after {
	content: "";
	clear: both;
	display: block;
}
.wrapper {
	width: 400px;
	height: 450px;
	margin: 0 auto;
}

.longred {
	height: 100px;
	background: #ff0000;

}

.left {
	float: left;
	width: 150px;
	height: 250px;
	background: #00ff51;
}

.right {
	float: left;
	width: 250px;
}

.top-boxes {
	display: flex;
	gap: 0;
}

.column-box{
	display: flex;
flex-direction: column;
}

.purple {
	margin: 0;
	height: 50px;
	width: 150px;
	background: #cc00db;
}

.orange {
	width: 100px;
	height: 150px;
	background: #ff9e6b;
}

.blue {
	height: 100px;
	width: 150px;
	background: #0093b7;
}

.brown {
	height: 100px;
	background: #8e2727;
}

.yellow {
	height: 100px;
	background: #ffff00;
	clear: both;
}